@function tint($angle) {
    @return linear-gradient(#{$angle}deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

@mixin effect {
    $effect: all .3s ease-in-out;
    -webkit-transition: $effect;
    -ms-transition: $effect;
    -o-transition: $effect;
    transition: $effect;
}

.creation {
  position: relative;
  display: flex;
  flex-direction: column;
  container-type: inline-size;

  cursor: pointer;
  overflow: hidden;
  @include effect;

  &__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    @include effect;
  }
  
  &__wrapper {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 6cqw;
    padding: 1em;
    background: tint(90);
    @include effect;
  }

  &__heading {
    position: absolute;
    bottom: 0;
    padding-bottom: inherit;
    margin: 0;
    width: 30%;
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 1em;
  }

  &--vertical {
    .creation__wrapper {
        font-size: 11cqw;
        padding: 1.2em;
        // padding: 0;
        background: tint(0);
    }
  }

  &:hover {
    .creation__image {
        transform: scale(1.05);
    }
    .creation__wrapper {
        background: rgba(255,255,255,.8);
    }
    .creation__heading {
        color: var(--color-black);
    }
  }
}