// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

@mixin effect {
    $effect: all 0.25s ease-in-out;
    -webkit-transition: $effect;
    -ms-transition: $effect;
    -o-transition: $effect;
    transition: $effect;
}

#root {
  height: 100%;
}

.main {
  height: 100%;

  & > * {
    padding: 1.5em;
  }

  &--desktop {
    & > * {
      padding: 4em 11em;
    }
  }
}

.custom-effect-underlined {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;

    &::after {
        content: "";
        position: absolute;
        bottom: -.5rem;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 0;
        height: 2px;
        background: var(--color-white);
        @include effect;
    }
  
    &:hover {  
        &::after {
            width: 100%;
            background: var(--color-white);
        }
    }
}