@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-dark-grey: hsl(0, 0%, 55%);
    --color-very-dark-grey: hsl(0, 0%, 41%);
}

html {
    min-height: 100vh;
    font-size: 15px;
}

h1,
h2,
h3,
.josefin {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
}

.main--desktop h2 {
    font-size: 3em;
}
