.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start {
    height: 100dvh;
    background-image: url('/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    &__motto {
        text-transform: uppercase;
        border: 3px solid var(--color-white);
        padding: 2rem;
        color: var(--color-white);
        font-size: calc(14cqi - 1rem);

        @media screen and (min-width: 650px) {
            max-width: 8em;
            font-size: 5em;
        }
    }

    &__nav {
        margin-top: 2em
    }

    & > .ReactCollapse--collapse {
        transition: height 500ms;
    }
}


@media screen and (min-width: 600px) {
    .start {
        background-image: url('/desktop/image-hero.jpg');
    }
}

.main--desktop .start {
    height: 43em;
    
    &__nav {
        margin-top: 0
    }
}
