@mixin effect {
    $effect: all .3s ease-in-out;
    -webkit-transition: $effect;
    -ms-transition: $effect;
    -o-transition: $effect;
    transition: $effect;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start {
    height: 100dvh;
    background-color: var(--color-black);
    background-image: url('/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 50cqi rgba(0,0,0,.4);

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include effect;
    @media screen and (min-width: 600px) {
        background-image: url('/desktop/image-hero.jpg');
    }

    &__wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    &__motto {
        text-transform: uppercase;
        border: 3px solid var(--color-white);
        padding: 1.5rem;
        color: var(--color-white);
        font-size: calc(15cqi - 1rem);
    }

    &__nav {
        margin-top: 2em
    }

    & > .ReactCollapse--collapse {
        transition: height 500ms;
    }

    &--black {
        // box-shadow: inset 0 0 0 50cqi rgba(0,0,0);
        background-image: none;
    }
}

@media screen and (min-width: 650px) {
    .main--desktop h2.start__motto {
        max-width: 8em;
        font-size: 5em;
    }
}

.main--desktop .start {
    height: 43em;
    
    &__nav {
        margin-top: 0
    }

    // &--black { box-shadow: none; }
}
