.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & > .nav__link, & > .nav__link:visited {
        color: var(--color-white);
        margin-bottom: 1em;
    }
}

.main--desktop .nav {
    flex-direction: row;
    gap: 2em;

    & > .nav__link, & > .nav__link:visited {
        margin-bottom: 0;
    }
}